.banner{
  margin: 0 auto;
  width: 100%;
  max-width: 580px;
  height: 57vw;
  max-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  margin-bottom: 10px;

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;

    .text{
      width: calc(100% - 80px);
      padding-right: 2%;

      h2{
        color: white;
        font-family: 'Rum Raisin';
        line-height: 18px;
        font-size: 16px;
        letter-spacing: 0.4px;
      }

      p{
        position: relative;
        top: -7px;
        color: white;
        font-size: 14px;
        opacity: 0.7;
        font-weight: 300;
      }
    }

    .logo{
      width: 80px;
      height: 80px;

      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}

.title{
  padding-bottom: 10px;
}

ion-slides{
  height: 100px;

  ion-slide{
    width: 85px;
    height: 85px;
    background: linear-gradient(134.76deg, #FFFFFF 4.25%, #F7D7FF 114.44%);
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 4px 4px 4px rgba(228, 178, 226, 0.5);
    border-radius: 12px;

    img{
      width: 70px;
      height: 70px;
    }
  }
}

@media screen and ( max-width: 380px ) {
  .banner{
    .container{
      .text{
        h2{
          line-height: 16px;
          font-size: 14px;
        }

        p{
          font-size: 12px;
        }
      }

      .logo{
        width: 70px;
        height: 70px;
      }
    }
  }
}

@media screen and ( max-width: 320px ) {
  .banner{
    .container{
      .text{
        text-align: center;
        padding-right: 0;
      }

      .logo{
        display: none;
      }
    }
  }
}
