<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="align-logo-center">
      <img src="/assets/images/logo.png" alt="Logo Doe Mais">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="banner" style="background-image: url(/assets/images/banner.png);">
    <div class="container">
      <div class="text">
        <h2>A Doe Mais é a porta de quem quer doar para quem precisa das doações!</h2>
        <p>Doe agora e transforme vidas!</p>
      </div> <!-- text -->

      <div class="logo">
        <img src="/assets/icon/favicon.png" alt="Ícone logo">
      </div> <!-- logo -->
    </div><!-- container -->
  </div> <!-- banner -->


</ion-content>
