<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="align-logo-center">
      <img src="/assets/images/logo.png" alt="Logo Doe Mais">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="banner" style="background-image: url(/assets/images/banner.png);">
    <div class="container">
      <div class="text">
        <h2>A Doe Mais é a porta de quem quer doar para quem precisa das doações!</h2>
        <p>Doe agora e transforme vidas!</p>
      </div> <!-- text -->

      <div class="logo">
        <img src="/assets/icon/favicon.png" alt="Ícone logo">
      </div> <!-- logo -->
    </div> <!-- container -->
  </div> <!-- banner -->

  <div class="title">
    <ion-text color="secondary">
      <h4>Conheça nossas instituições parceiras</h4>
    </ion-text>
  </div> <!-- title -->


  <div class="institutions" *ngIf="institutions; else skeleton">
    <ion-slides [options]="option_slide">
      <ion-slide *ngFor="let institution of institutions">
        <a routerLink="/saiba-mais/{{institution.id_instituicao}}">
          <img src="https://storage.googleapis.com/quantum-ether-335121.appspot.com/{{institution.logo}}" alt="{{institution.nome}}">
        </a>
      </ion-slide>
    </ion-slides>
  </div> <!-- institutions -->
</ion-content>

<ng-template #skeleton>
  <div class="skeleton">
    <ion-slides [options]="option_slide">
      <ion-slide>
        <ion-skeleton-text [animated]="true" style="width: 80px; height: 80px;"></ion-skeleton-text>
      </ion-slide>
      <ion-slide>
        <ion-skeleton-text [animated]="true" style="width: 80px; height: 80px;"></ion-skeleton-text>
      </ion-slide>
      <ion-slide>
        <ion-skeleton-text [animated]="true" style="width: 80px; height: 80px;"></ion-skeleton-text>
      </ion-slide>
      <ion-slide>
        <ion-skeleton-text [animated]="true" style="width: 80px; height: 80px;"></ion-skeleton-text>
      </ion-slide>
      <ion-slide>
        <ion-skeleton-text [animated]="true" style="width: 80px; height: 80px;"></ion-skeleton-text>
      </ion-slide>
      <ion-slide>
        <ion-skeleton-text [animated]="true" style="width: 80px; height: 80px;"></ion-skeleton-text>
      </ion-slide>
      <ion-slide>
        <ion-skeleton-text [animated]="true" style="width: 80px; height: 80px;"></ion-skeleton-text>
      </ion-slide>
      <ion-slide>
        <ion-skeleton-text [animated]="true" style="width: 80px; height: 80px;"></ion-skeleton-text>
      </ion-slide>
      <ion-slide>
        <ion-skeleton-text [animated]="true" style="width: 80px; height: 80px;"></ion-skeleton-text>
      </ion-slide>
      <ion-slide>
        <ion-skeleton-text [animated]="true" style="width: 80px; height: 80px;"></ion-skeleton-text>
      </ion-slide>
    </ion-slides>
  </div>
</ng-template>
