<ion-header [translucent]="true">
  <ion-toolbar class="ion-padding">
    <ion-searchbar placeholder="Pesquisar" [(ngModel)]="queryText" (ionChange)="filterInstitutions($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [fullscreen]="true">

  <div class="title">
    <ion-text color="secondary"><h2>Instituições</h2></ion-text>
  </div>

  <ion-list>
    <ion-item-divider></ion-item-divider>
    <ion-virtual-scroll [items]="institutions" *ngIf="institutions" approxItemHeight="52px" >
      <ion-item *virtualItem="let institution" routerLink="/instituicao/{{institution.id_instituicao}}">
        <ion-thumbnail >
          <ion-img src="https://storage.googleapis.com/quantum-ether-335121.appspot.com/{{institution.logo}}"></ion-img>
        </ion-thumbnail>
        <ion-label class="ion-padding">
          <h2>{{institution.nome}}</h2>
          <p>{{institution.sobre_curto}}</p>
        </ion-label>
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>
</ion-content>
